* {
  margin: 0;
  padding: 0;
  background-color: white;
}
body{
  background-color: whitesmoke;
}
div {
  text-align: center;
  position: absolute;
  top: 2rem;
  border: 1px solid #ccc;
  height: 35rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
}

img {
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
}

input, button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

button {
  background-color: #226ADA;
  color: white;
  cursor: pointer;
  margin: 0 1rem 1rem;
}

button:hover {
  background-color: #174a9f;
}

input {
  outline: none;
  margin: 0 0.5rem;
  background-color: white;
}

@media print {
  #ssid,#pass,#print{
    display: none;
    visibility: hidden;
  }

  #img {
    visibility: visible;
    display: block;
    margin: auto;
  }
  .texts{
    visibility: visible;
    display: block;
    margin: auto;
  }
  
}